@font-face {
  font-family: "iconfont"; /* Project id 5088958 */
  src: url('iconfont.woff2?t=1765950322355') format('woff2'),
       url('iconfont.woff?t=1765950322355') format('woff'),
       url('iconfont.ttf?t=1765950322355') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neizhishuju:before {
  content: "\e9af";
}

.icon-kaishifenxi:before {
  content: "\e8b6";
}

.icon-qingkong:before {
  content: "\e609";
}

.icon-chakan:before {
  content: "\e64f";
}

.icon-shanchu:before {
  content: "\e642";
}

.icon-fenxi5:before {
  content: "\e618";
}

.icon-xlsx:before {
  content: "\e679";
}

.icon-shangchuan:before {
  content: "\e603";
}

.icon-xiazai:before {
  content: "\e616";
}

.icon-fanhui:before {
  content: "\e6fa";
}

.icon-jiantou-xiangyou:before {
  content: "\eb0b";
}

.icon-sousuo-jiegou:before {
  content: "\e769";
}

.icon-pingjia-jiema:before {
  content: "\e62c";
}

.icon-jiage-guihua:before {
  content: "\e834";
}

